<strong><%= comment.commenter %>:</strong>

<p>
  - <%= comment.body %>
  <span>
    <%= link_to '✖️', [comment.article, comment], method: :delete, data: { confirm: 'Are you sure?' } %>
  </span>
</p>


<br />