<h1 class="text-info">Hello there, welcome to my page! </h1>
<br>
<p>
  Wondering where you are ? 🤔<br><br>
  You have arrived at my experimental blog built on top of the awesome <strong style="color: #a82819;">✨ Ruby on Rails 6 ✨</strong>, since 27 July 2020.<br>
  You are more than welcome to leave me feedbacks on the site or what I can improve via <a href="mailto: haichungcn@gmail.com" alt="my-email">my email ✉️</a> or the form in Contact section.<br><br>
  Thank so much for visitting ❤️
</p>
<br>
<%= link_to '👉 Straight to the Blog', controller: 'articles' %>