<p class="h2 text-info">About me</p>
<br>
<p>
  Hi there, My name is <strong>Háº£i Chung</strong>.
</p>
<p>
  A nerd, keyboard & technology enthusiast, amateur photographer / videographer.<br>
  Fullstack developer / software engineer at <a href="https://hubble.sg">Hubble Co. Pte.</a><br>
  I am based in Ho Chi Minh City, Vietnam ðŸ‡»ðŸ‡³
</p>
<p>
  My current stack including: <strong>Reactjs</strong>, <strong>Ruby on Rails</strong>, <strong>Nodejs</strong> & <strong>Flask</strong>.
</p>
<p>
  <a href="https://github.com/haichungcn" class="text-decoration-none">Visit my Github</a>
</p>
<br>
<%= link_to  "â˜ Contact me", controller: 'contact' %><br>
<%= link_to  "â† Back", controller: 'welcome' %>