// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.comment-form {
  max-width: 500px;
  padding: 8px;

  .comment-commenter-container {
    input {
      width: 80%;
    }
  }

  textarea {
    width: 80%;
  }

  div {
    margin-bottom: 8px;
  }

  .comment-footer {
    margin-top: 16px;
  }
}

.comment-body {
  white-space: pre-line;
}
